@media screen and (max-width: 990px) and (max-width: 1472px) {
    .Header {
        display: flex;
        flex: content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 50px;
    }
    .Logo {
        width: 300px;
    }
    .img_top {
        width: 293px;
    }
    .About {
        text-size-adjust: auto;
        text-justify: auto;
        align-items: center;
        text-align: left;
        font-size: 18px;
    }
    #SocialNetwork {
        display: flex;
        flex-direction: row;
    }
    .barCountdown p {
        justify-content: center;
    }
}

@media only screen and (max-width:990px) {
    .Logo {
        width: 300px;
    }
    .Header {
        display: flex;
        flex-direction: column;
    }
    .img_top {
        width: 293px;
    }
    .About {
        text-size-adjust: auto;
        text-justify: auto;
        align-items: center;
        text-align: left;
        font-size: 12px;
    }
    #SocialNetwork {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width:360px) and (max-width:768px) {
    .Header {
        display: flex;
        flex-direction: column;
    }
    .Logo {
        width: 200px;
    }
    .img_top {
        width: 193px;
    }
    .About {
        align-items: center;
        text-align: center;
        font-size: 10px;
    }
    #SocialNetwork {
        display: flex;
        flex-direction: row;
    }
    .barCountdown p {
        justify-content: center;
    }
}